<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Categories</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="display-3">
              <span class="badge badge-dark">The MealBox</span>
            </div>
            <br>
            <center><input type="text" placeholder="Search meals" class="display-5"></center>
          </div>

          <div class="display-4 text-center"><span class="badge badge-warning">{{catname}}:</span> </div>
          <hr>
          <br>

            <div class="row">
          {% for x in cat_info['meals']: %}
                <div class="col">
                <div class="card">
                <a href="/meal/{{x['strMeal']}}/{{x['idMeal']}}"><div class="card-content"><img src=" {{x['strMealThumb']}}" width="250px"></a></div>
                <div class="card-footer text-center"> {{ x['strMeal'] }} </div>
                </div>
                </div>
            {% endfor %}
            </div>
            

        
    </body>
</html>